<div class="well">
  <form>
    <input type="hidden" name="card[list_id]" value="<%= list.id %>">
      <label>Title<input type="text" name="card[title]"></label><br>
      <label>Description<input type="text" name="card[description]"></label>
      <input type="submit" value="&#x2713;">
  </form>
</div>