<div class="col-sm-3 panel panel-default floating-to-the-left sortable">
  <div class="panel-heading">
    <h3 class="panel-title"><%= list.escape('title') %></h3>
  </div>
  <div class="panel-body">
    <div class="card-container"></div>
    <div class="new-card-form"></div>
  </div>
</div>